Repository kcl-lang/kcl-lang.io, pull requests merged in 2023-12, with the labels that each got.

#228 feat: release 0.7.0 blogs
  blog/2023-11-30-kcl-0.7.0-release/index.md
  i18n/zh-CN/docusaurus-plugin-content-blog/2023-11-30-kcl-0.7.0-release/index.md
  static/img/blog/2023-11-30-kcl-0.7.0-release/artifachub-index.png
  static/img/blog/2023-11-30-kcl-0.7.0-release/cli-help.png
  static/img/blog/2023-11-30-kcl-0.7.0-release/did-you-mean.png
  static/img/blog/2023-11-30-kcl-0.7.0-release/install-pkg.png
  static/img/blog/2023-11-30-kcl-0.7.0-release/kclfmt.gif
  static/img/blog/2023-11-30-kcl-0.7.0-release/pkg-page.png
  static/img/blog/2023-11-30-kcl-0.7.0-release/test-failed.png
  static/img/blog/2023-11-30-kcl-0.7.0-release/test-pass.png
  static/img/blog/2023-11-30-kcl-0.7.0-release/try-kcl-mod-add.png
Labels: enhancement

#233 docs: add kcl kubevela integration guides
  blog/2023-12-15-kubevela-integration/index.md
  examples/kubevela/kcl-play-svc/kcl.mod
  examples/kubevela/kcl-play-svc/kcl.mod.lock
  examples/kubevela/kcl-play-svc/main.k
  examples/kubevela/kcl-play-svc/vela.yaml
  i18n/zh-CN/docusaurus-plugin-content-blog/2023-07-31-kcl-github-argocd-gitops/index.md
  i18n/zh-CN/docusaurus-plugin-content-blog/2023-12-15-kubevela-integration/index.md
  static/img/blog/2023-12-15-kubevela-integration/cover.png
  static/img/blog/2023-12-15-kubevela-integration/integration.png
  static/img/blog/2023-12-15-kubevela-integration/kcl-play-svc.png
  static/img/blog/2023-12-15-kubevela-integration/workflow.png
Labels: blog

#235 docs: add cloud native tool integration blogs
  blog/2023-12-18-how-to-apply-kcl-config-to-cluster/index.md
  i18n/zh-CN/docusaurus-plugin-content-blog/2023-12-18-how-to-apply-kcl-config-to-cluster/index.md
  static/img/blog/2023-12-18-how-to-apply-kcl-config-to-cluster/cloud-native-tool-integration.png
Labels: blog

#237 feat: add kcd-shenzhen-1023 review
  blog/2023-12-18-cloud-native-configuration-language-kcl/index.md
  i18n/zh-CN/docusaurus-plugin-content-blog/2023-12-18-cloud-native-configuration-language-kcl/index.md
  static/img/blog/2023-12-18-cloud-native-configuration-language-kcl/intro-iac-en.png
  static/img/blog/2023-12-18-cloud-native-configuration-language-kcl/intro-iac.png
  static/img/blog/2023-12-18-cloud-native-configuration-language-kcl/intro-kcl-en.png
  static/img/blog/2023-12-18-cloud-native-configuration-language-kcl/intro-kcl.png
  static/img/blog/2023-12-18-cloud-native-configuration-language-kcl/kcl-abs-en.png
  static/img/blog/2023-12-18-cloud-native-configuration-language-kcl/kcl-abs.png
  static/img/blog/2023-12-18-cloud-native-configuration-language-kcl/kcl-ah-en.png
  static/img/blog/2023-12-18-cloud-native-configuration-language-kcl/kcl-ah.png
  static/img/blog/2023-12-18-cloud-native-configuration-language-kcl/kcl-feature-en.png
  static/img/blog/2023-12-18-cloud-native-configuration-language-kcl/kcl-feature.png
  static/img/blog/2023-12-18-cloud-native-configuration-language-kcl/kcl-integration-en.png
  static/img/blog/2023-12-18-cloud-native-configuration-language-kcl/kcl-integration.png
  static/img/blog/2023-12-18-cloud-native-configuration-language-kcl/kcl-krm-en.png
  static/img/blog/2023-12-18-cloud-native-configuration-language-kcl/kcl-krm.png
  static/img/blog/2023-12-18-cloud-native-configuration-language-kcl/kcl-mut-en.png
  static/img/blog/2023-12-18-cloud-native-configuration-language-kcl/kcl-mut.png
  static/img/blog/2023-12-18-cloud-native-configuration-language-kcl/kcl-tools-en.png
  static/img/blog/2023-12-18-cloud-native-configuration-language-kcl/kcl-tools.png
  static/img/blog/2023-12-18-cloud-native-configuration-language-kcl/kcl-vet-en.png
  static/img/blog/2023-12-18-cloud-native-configuration-language-kcl/kcl-vet.png
Labels: documentation

#238 feat: add biweekly newsletter for 12.21
  blog/2023-12-21-biweekly-newsletter/index.md
  i18n/zh-CN/docusaurus-plugin-content-blog/2023-12-21-biweekly-newsletter/index.md
  static/img/blog/2023-12-21-biweekly-newsletter/ide-func.gif
Labels: documentation

#239 docs: add ten-ways-for-kubernetes-config-management blogs
  blog/2022-09-15-declarative-config-overview/index.md
  blog/2023-12-25-ten-ways-for-kubernetes-config-management/index.md
  i18n/zh-CN/docusaurus-plugin-content-blog/2023-12-25-ten-ways-for-kubernetes-config-management/index.md
  static/img/blog/2023-12-25-ten-ways-for-kubernetes-config-management/cover.png
  static/img/blog/2023-12-25-ten-ways-for-kubernetes-config-management/landscape.png
Labels: blog
